# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
